.footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #004C42;
    color: #fff;
  }
  
  .social-media {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  